/* task3 */
#input {
    text-align: center;
    margin: 160px;
}
#userName{
    font-size: 20px;
    border-radius: 20px;
    padding: 28px;
    margin: 50px;
}
#button {
    font-size: 20px;
    border-radius: 20px;
    padding: 28px;
    margin: 50px;
}
#Name {
    width: 60%;
    height: 200px;
    font-size: 20px;
    border-radius: 20px;
    padding: 28px;
    background-color: aliceblue;
    margin: 0 auto;
    overflow: overlay;
    text-align: start;
}
#clear {
    font-size: 20px;
    border-radius: 20px;
    padding: 28px;
    margin: 50px;
}